.yellow {
    background:hsl(47, 88%, 63%);
}

.white {
    background: hsl(0, 0%, 100%);
}

.grey {
    color: hsl(0, 0%, 50%);
}

.black {
    background-color: hsl(0, 0%, 7%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100dvh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    max-width: 20rem;
}
